# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ProjectSettings/*.asset

# ----[ Visual Studio / MonoDevelop generated ]------- #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# -------------[ Build ]------------------------ #
*.html
*.unity3d
*.meta
/H401/Assets/Plugins/AWSSDK
/H401/Assets/Plugins/DOTween/DOTween50.dll
/H401/Assets/Plugins/DOTween/DOTween46.dll
/H401/Assets/Plugins/DOTween/DOTween43.dll
/H401/Assets/Plugins/DOTween/DOTween.dll
/H401/Assets/Plugins/DOTween/Editor/DOTweenEditor.pdb
/H401/Assets/Plugins/DOTween/Editor/DOTweenEditor.dll
